.app-english-logo {
    float: left;
    width: 160px;
    height: 60px;
}
.app-english-btn1{
    position: absolute;
    top: 0;
    right: 60px;
}
.app-english-btn2{
    position: absolute;
    top: 0px;
    right: 0px;
}
#AppHeader{
    position: relative;
}